@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "typewriter";
    font-weight: 700;
    src: url("../public/fonts/ErikaOrmig.ttf") format("truetype");
  }
}
